* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Muli", sans-serif;
  background: #aff0f0; }

h3 {
  font-size: 17px; }

.container {
  padding-top: 80px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle; }
  @media screen and (max-width: 480px) {
    .container {
      padding-top: 4vh;
      width: 90%;
      text-align: left;
      float: none; } }

#header {
  font-weight: 800;
  font-size: 48px;
  margin: 20px 0; }
  @media screen and (max-width: 480px) {
    #header {
      font-size: 36px; } }

#subheader {
  font-weight: 400; }

.inputs {
  margin: 64px 0;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .inputs {
      margin: 24px 0;
      text-align: left; } }
  .inputs .date, .inputs .origin1, .inputs .origin2 {
    text-align: left;
    display: inline-block;
    margin-bottom: 24px; }
    @media screen and (max-width: 1100px) {
      .inputs .date, .inputs .origin1, .inputs .origin2 {
        min-width: 200px; } }
    @media screen and (max-width: 480px) {
      .inputs .date, .inputs .origin1, .inputs .origin2 {
        width: 100%;
        margin: 0; } }
  .inputs h3 {
    margin-bottom: 4px; }
    @media screen and (max-width: 480px) {
      .inputs h3 {
        margin: 12px 0 2px; } }
  .inputs .origin2 h3 {
    display: inline-block;
    margin-right: 8px; }
    @media screen and (max-width: 480px) {
      .inputs .origin2 h3 {
        width: 100%;
        margin: 0; } }
  .inputs input, .inputs button {
    padding: 16px 8px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    margin-right: 8px;
    text-transform: uppercase; }
    @media screen and (max-width: 480px) {
      .inputs input, .inputs button {
        margin: 8px 0;
        width: 80%; } }
  .inputs input:focus {
    outline: none; }
  .inputs button {
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background-color: #1e3dec;
    color: white;
    margin-right: none; }
    @media screen and (max-width: 1100px) {
      .inputs button {
        width: auto; } }
    @media screen and (max-width: 480px) {
      .inputs button {
        padding-left: 24px;
        padding-right: 24px;
        width: auto;
        margin-bottom: 32px; } }
    .inputs button:hover {
      cursor: pointer;
      opacity: .92; }

#flightResults {
  text-align: left;
  font-size: 20px;
  margin: 32px auto;
  width: 60%; }
  #flightResults ul {
    list-style-type: none;
    margin-bottom: 32px; }
  #flightResults .status {
    font-size: 14px;
    text-align: left;
    padding-bottom: 12px; }
  @media screen and (max-width: 1100px) {
    #flightResults {
      width: 80%; } }
  @media screen and (max-width: 480px) {
    #flightResults {
      width: 100%;
      font-size: 17px; } }
  #flightResults li {
    background: white;
    border-radius: 10px;
    margin: 10px auto;
    padding: 16px; }
  #flightResults li.success {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16); }
    #flightResults li.success .destination {
      font-weight: 800;
      float: left;
      margin-left: 6px; }
    #flightResults li.success .price {
      font-weight: 800;
      float: left; }
    #flightResults li.success .details {
      margin-left: 10px;
      font-size: 14px;
      opacity: .7;
      display: inline-block; }
      @media screen and (max-width: 480px) {
        #flightResults li.success .details {
          margin-left: 6px; } }
    #flightResults li.success .button {
      display: block;
      float: right;
      color: #1e3dec;
      font-size: 17px;
      visibility: hidden; }
    #flightResults li.success:hover {
      cursor: pointer;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24); }
      #flightResults li.success:hover .button {
        visibility: visible; }
  #flightResults li.failed {
    background: rgba(255, 255, 255, 0.7); }
    #flightResults li.failed .price {
      opacity: .7;
      font-size: 14px; }
