////////////////////////////////////////////////////////////////
// Stylesheet for FlightCalculator
// Author: Tyler Hayes
////////////////////////////////////////////////////////////////

// Global reset margins + padding
* {
  margin: 0;
  padding: 0;
}

// Responsive styling
@mixin breakpoint($point) {
  @if $point == m {
    @media screen and (max-width: 1100px){@content;}
  }
  @if $point == s {
    @media screen and (max-width: 480px){@content;}
  }
}

// Global style variables
$font: 'Muli', sans-serif;
$primaryColor: rgb(30, 61, 236);
@mixin textPadding(){padding: 16px 8px;}
@mixin borderRadius(){border-radius: 10px;}
@mixin fontRegular(){font-weight: 400;}
@mixin fontBold(){font-weight: 800;}

////////////////////////////////////////////////////////////////

body {
  font-family: $font;
  background: rgb(175, 240, 240);
}

h3 {
  font-size: 17px;
}

.container {
  padding-top: 80px; width: 80%; margin: 0 auto; text-align: center; vertical-align: middle;
  @include breakpoint(s){padding-top: 4vh; width: 90%; text-align: left; float: none;}
}

#header {
  @include fontBold();
  font-size: 48px;
  margin: 20px 0;
  @include breakpoint(s){font-size: 36px;}
}

#subheader {
  @include fontRegular();
}

.inputs {
  margin: 64px 0; text-align: center;
  @include breakpoint(s){margin: 24px 0; text-align: left;}
  .date, .origin1, .origin2 {
    text-align: left; display: inline-block; margin-bottom: 24px;
    @include breakpoint(m){min-width: 200px;}
    @include breakpoint(s){width: 100%; margin: 0;}
  }
  h3 {
    margin-bottom: 4px;
    @include breakpoint(s){margin: 12px 0 2px;}
  }
  .origin2 {
    h3 {
      display: inline-block; margin-right: 8px;
      @include breakpoint(s){width: 100%; margin: 0;}
    }
  }
  input, button {
    @include textPadding();
    @include borderRadius();
    border: none;
    font-size: 17px;
    margin-right: 8px;
    text-transform: uppercase;
    @include breakpoint(s){margin: 8px 0; width: 80%;}
  }
  input:focus {
    outline: none;
  }
  button {
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background-color: $primaryColor;
    color: white;
    margin-right: none;
    @include breakpoint(m){width: auto;}
    @include breakpoint(s){padding-left: 24px; padding-right: 24px; width: auto; margin-bottom: 32px;}
    &:hover {
      cursor: pointer;
      opacity: .92;
    }
  }
}

#flightResults {
  text-align: left;
  font-size: 20px;
  margin: 32px auto;
	width: 60%;
	ul {
		list-style-type: none;
		margin-bottom: 32px;
	}
  .status {
    font-size: 14px;
    text-align: left;
    padding-bottom: 12px;
  }
  @include breakpoint(m){width: 80%;}
  @include breakpoint(s){width: 100%; font-size: 17px;}
  li {
    background: white;
    border-radius: 10px;
    margin: 10px auto;
    padding: 16px;
  }
  li.success {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
    .destination {
			@include fontBold();
			float: left;
			margin-left: 6px;
    }
    .price {
			@include fontBold();
			float: left;
		}
		.details {
			margin-left: 10px;
			font-size: 14px;
			opacity: .7;
			display: inline-block;
			@include breakpoint(s){margin-left: 6px;}
		}
    .button {
      display: block;
      float: right;
      color: $primaryColor;
      font-size: 17px;
      visibility: hidden;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24);
      .button {
        visibility: visible;
      }
    }
  }
  li.failed {
    background: rgba(255, 255, 255, 0.7);
    .price {
			opacity: .7;
			font-size: 14px;
    }
  }
}